<div class="container">
  <h1 class="center-align">Cash Tracking</h1>
</div>

<div class="row">
  <div class="col s12">
    <h2 class="center-align">{{ monedero | currency}}</h2>
  </div>
</div>

<div class="row">
  <div class ="input-field col s12">
    <input placeholder="$ 0.00" id="amount" #amountInput type ="number">
    <label for="amount">Amount</label>
  </div>
</div>

<a class="waves-effect waves-light center-align green btn-small" (click)="transaccion(amountInput, 'Deposit')">Deposit</a>
<a class="waves-effect waves-light center-align red btn-small" (click)="transaccion(amountInput,'Expense' )">Expense</a>

<ul class="collection with-header">
  <li class="collection-header"><h4>transacciones</h4></li>
  <li class="collection-item" *ngFor="let transacciones of transacciones">{{ transacciones | currency }}</li>
</ul>
